:root.theme-light {
  --background-cover-image: url("../images/cover-image-light.png");
  --background-color: #fff1f7;
  --main-title-color: #353430;
  --accent-color: #ff8dcb;
  --header-title-color: #ffc2e6;
  --theme-button-color: #353430;
  --theme-button-hover: rgba(50, 49, 45, 0.4);
  --main-text-color: #353430;
  --decorated-zone-color: #353430;
  --display-rec: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-cover-image: url("../images/cover-image-light.png");
    --background-color: #fff1f7;
    --main-title-color: #353430;
    --accent-color: #ff8dcb;
    --header-title-color: #ffc2e6;
    --theme-button-color: #353430;
    --theme-button-hover: rgba(50, 49, 45, 0.4);
    --main-text-color: #353430;
    --decorated-zone-color: #353430;
    --display-rec: none;
  }
}
