/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--font-family, 'IBM Plex Mono');
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.decorated-zone:before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--decorated-zone-color, #ff0070);
  border-block-start: 1px solid var(--decorated-zone-color, #ff0070);
}

.decorated-zone:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--decorated-zone-color, #ff0070);
  border-block-end: 1px solid var(--decorated-zone-color, #ff0070);
}

.header__rec {
  content: "rec";
  position: absolute;
  top: 10px;
  right: 19px;
  padding-right: 20px;
  color: var(--decorated-zone-color, #ff0070);
  font-size: var(--main-font-size, 18px);
  line-height: 25px;
  text-transform: uppercase;
  text-transform: uppercase;
}

.header__rec::after{
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  background-color: var(--decorated-zone-color,#ff0070);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px;
  font-size: var(--main-font-size, 18px);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-hover, rgb(255, 0, 112, 0.4));
  cursor: pointer;
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--accent-color, #ff0070);
  outline: none;
}

.header__theme-menu-button:focus-visible{
  border-block-end: 1px solid var(--accent-color, #ff0070);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color, #ff0070);
}

.header__title {
  color: var(--accent-title-color, #db00ff);
  font-weight: var(--title-weight, 700);
  font-size: var(--title-size);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__content{
  color: #000028;
  font-weight: var(--title-weight, 700);
  font-size: var(--main-font-size, 18px);
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
}